<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Inicio Consultor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .btn btn-primary {
            transition: background-color 0.3s ease;
            background-color: #af7dfb;
            border-color: #802ce8;
            width:575px;
        }
         .d-flex {
             display: flex;
             flex-direction: column;
             gap: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar fixed-top" style="background-color: #af7dfb; padding-left: 30px;">
        <div class="container">
            <a class="navbar-brand" style="color:white; padding: 1rem 1rem;">EPS Nuestra Salud SAS</a>
            <a class="btn btn-second" style="color:white; padding: 1rem 1rem; text-align: right" href="#" th:href="@{/iniciosesion}">Cerrar sesión</a>
        </div>
    </nav>
<div class="container" style="display: flex; flex-direction: column; align-items: center; margin-top: 100px;">
    <h1 style="color: #802ce8; font-size: 20px; font-family: 'Arial Black', sans-serif;">Inicio Consultor</h1>

    <div class="d-flex justify-content" style="margin-top: 20px;">
        <div>
            <a class="btn btn-primary" th:href="@{/GenerarInforme/{identificacion}(identificacion=${identificacion})}" style="transition: background-color 0.3s ease; background-color: #af7dfb; border-color: #802ce8; width:250px;">Generar informe</a>
            <a class="btn btn-primary me-3" th:href="@{/afiliaciones/{identificacion}(identificacion=${identificacion})}" style="transition: background-color 0.3s ease; background-color: #af7dfb; border-color: #802ce8; width:250px">Ver solicitudes de Afiliación</a>
        </div>
        <br>
        <a>Listados</a>
        <div>
            <a class="btn btn-primary me-3" href="#" th:href="@{/listaUsuarios/{identificacion}(identificacion=${identificacion})}" style="transition: background-color 0.3s ease; border-color: #802ce8; width:250px">Usuarios registrados</a>
        </div>
        <div>
            <a class="btn btn-primary me-3" href="#" th:href="@{/listaAfiliados/{identificacion}(identificacion=${identificacion})}" style="transition: background-color 0.3s ease; border-color: #802ce8; width:250px">Afiliados</a>
        </div>
        <div>
            <a class="btn btn-primary me-3" href="#" th:href="@{/listaMedicos/{identificacion}(identificacion=${identificacion})}" style="transition: background-color 0.3s ease; border-color: #802ce8; width:250px">Médicos</a>
        </div>
        <div>
            <a class="btn btn-primary me-3" href="#" th:href="@{/listaConsultores/{identificacion}(identificacion=${identificacion})}" style="transition: background-color 0.3s ease; border-color: #802ce8; width:250px">Consultores</a>
        </div>
        <div>
            <a class="btn btn-primary me-3" href="#" th:href="@{/listaConsultorios/{identificacion}(identificacion=${identificacion})}" style="transition: background-color 0.3s ease;  border-color: #802ce8; width:250px">Consultorios</a>
        </div>
        <div>
            <a class="btn btn-primary me-3" href="#" th:href="@{/listaEspecialidades/{identificacion}(identificacion=${identificacion})}" style="transition: background-color 0.3s ease; border-color: #802ce8; width:250px">Especialidades</a>
        </div>
        <div>
            <a class="btn btn-primary me-3" href="#" th:href="@{/listaRoles/{identificacion}(identificacion=${identificacion})}" style="transition: background-color 0.3s ease; border-color: #802ce8; width:250px">Roles</a>
        </div>
        <div>
            <a class="btn btn-primary me-3"  href="#" th:href="@{/listaSedes/{identificacion}(identificacion=${identificacion})}" style="transition: background-color 0.3s ease; border-color: #802ce8; width:250px">Sedes</a>
        </div>
        <div>
            <a class="btn btn-primary me-3"  href="#" th:href="@{/listaAfiliaciones/{identificacion}(identificacion=${identificacion})}" style="transition: background-color 0.3s ease; border-color: #802ce8; width:250px">Afiliaciones</a>
        </div>

        <br> <br>
    </div>
</div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>